//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Pagrindinis */

.landing {
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  width: 100%;
  margin: 20px auto;
  letter-spacing: 0.1em;
}

@media(max-width:768px){
  .title h1 {
    font-size: 3em;
  }
}

.landing-citation p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin: 20px 0 50px;
}

.user-info p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin: 0px 0 20px;
}

.about-button:hover {
  background-color: #44536D;
  opacity: 0.95;
}

.div-about-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.div-about-button a:hover {
  text-decoration: none;
  color: #fff;
}

/* Apie */

.about {
  background-color: white;
  min-height: 100%;
  padding: 50px 0 80px;
  text-align: center;
  color: #222;
}

.fa-circle-thin {
  color: #44536D;
}

.about p {
  padding-left: 30px;
  padding-right: 30px;
}

.about-info {
  margin: 40px 0 40px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.about-text-large {
  padding-top: 50px;
}

.about-paragraph {
  padding-top: 15px;
}

.content-hr {
  width: 25%;
  background-color: #222;
  height: 1px;
  border-color : transparent;
}

.content-hr-lg {
  width: 75%;
  background-color: #222;
  height: 1px;
  border-color : transparent;
}

.content-icon {
  border: 0.5px solid #414f69;
  border-radius: 50%;
}

.order-button:hover {
  background-color: #44536D;
  opacity: 0.95;
}

.div-order-button a {
  color: #222;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0.5px solid #222;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.div-order-button a:hover {
  text-decoration: none;
  color: #fff;
}

.order-info {
  margin-top: 50px;
}

/* Užsakymas */

.order {
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 40px 0 40px;
  text-align: center;
  color: #fff;
}

.order h2 {
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .vr-divider {
    border-right: solid 1px #fff;
    height: 90%;
  }
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-order-button button {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 11px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.order-button:hover {
  background-color: #44536D;
  opacity: 0.95;
  color: #fff;
}

/* Kontaktai */

.footer {
  background: #222;
  height: auto;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 20px 0 10px;
}
.footer ul {
  font-size: 15px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #F5F5F5;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #F5F5F5;
  text-decoration: none;
}

/* Navbaras */

.nav-info-text {
  text-align: center;
}

.navbar.navbar-inverse {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-links {
  text-transform: uppercase;
}

#login-dp{
  padding: 14px 14px 0;
  overflow:hidden;
  background-color: #222;
  color: #fff;
  opacity: 8;
}

#login-dp .social-buttons{
  margin:12px 0
}

#login-dp .social-buttons a{
  width: 100%;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
  transition: all 300ms ease-in-out;
}

.btn-fb:hover{
  color: #fff;
  background-color:#496ebc;
  transition: all 300ms ease-in-out;
}

@media(max-width:768px){
  #login-dp{
    background-color: #222;
    color: #fff;
  }
}

.navbar a {
  transition: all 300ms ease-in-out;
}

.navbar a:hover {
  transition: all 300ms ease-in-out;
}

.profile-userpic img {
  float: none;
  margin: 0 auto 15px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .navbar.navbar-inverse {
    opacity: 0.8;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    opacity: 0.8;
    -webkit-box-shadow: inset 2px 0px 0px 0px #fff;
    -moz-box-shadow: inset 2px 0px 0px 0px #fff;
    box-shadow: inset 0px 2px 0px 0px #fff;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav>li>a:hover {
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: inset 2px 0px 0px 0px #fff;
    -moz-box-shadow: inset 2px 0px 0px 0px #fff;
    box-shadow: inset 0px 2px 0px 0px #fff;
  }
}
