//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Pagrindinis */

.landing {
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  width: 100%;
  margin: 20px auto;
}

@media(max-width:768px){
  .title h1 {
    font-size: 3em;
  }
}

.landing-citation p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin: 20px 0 50px;
}

.user-info p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin: 0px 0 20px;
}

.about-button:hover {
  background-color: #44536D;
  opacity: 0.95;
}

.div-about-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.div-about-button a:hover {
  text-decoration: none;
  color: #fff;
}

/* Apie */

.content {
  background-color: #fff;
  text-align: center;
  min-height: 100%;
  position: relative;
  padding: 20px 0 20px;
}

.fa-circle-thin {
  color: #44536D;
}

.content p {
  padding-left: 30px;
  padding-right: 30px;
}

.about-info {
  margin-top: 40px;
}

.content h2 {
  color: #666666;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.content-hr {
  width: 10%;
  background-color: gray;
  height: 1px;
  border-color : transparent;
}

.content-hr-lg {
  width: 50%;
  background-color: gray;
  height: 1px;
  border-color : transparent;
}

.content-icon {
  border: 0.5px solid #414f69;
  border-radius: 50%;
}

/* Footeris */

.footer {
  background: #414f69;
  height: auto;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 20px 0 10px;
}
.footer ul {
  font-size: 15px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #F5F5F5;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #F5F5F5;
  text-decoration: none;
}

/* Navbaras */

.nav-info-text {
  text-align: center;
}

.navbar.navbar-inverse {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-links {
  text-transform: uppercase;
}

#login-dp{
  padding: 14px 14px 0;
  overflow:hidden;
  background-color: #222;
  color: #fff;
}

#login-dp .social-buttons{
  margin:12px 0
}

#login-dp .social-buttons a{
  width: 100%;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
  transition: all 300ms ease-in-out;
}

.btn-fb:hover{
  color: #fff;
  background-color:#496ebc;
  transition: all 300ms ease-in-out;
}

@media(max-width:768px){
  #login-dp{
    background-color: #222;
    color: #fff;
  }
}

.navbar a {
  transition: all 300ms ease-in-out;
}

.navbar a:hover {
  transition: all 300ms ease-in-out;
}

.profile-userpic img {
  float: none;
  margin: 0 auto 15px;
  border-radius: 50%;
}
