//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/* Pagrindinis */

.landing {
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  position: relative;
  color: #fff !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  width: 100%;
  margin: 20px auto;
  letter-spacing: 0.1em;
}

@media(max-width:768px){
  .title h1 {
    font-size: 3em;
  }
}

.landing-citation p {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  margin: 20px 0 50px;
}

.about-button:hover {
  background-color: #44536D;
  opacity: 0.95;
}

.div-about-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.div-about-button a:hover {
  text-decoration: none;
  color: #fff;
}


/* Apie */

.about {
  background: linear-gradient(#363a4d, #4c7c96);
  min-height: 100%;
  padding: 40px 0 70px;
  text-align: center;
  color: #fff;
}

.fa-circle-thin {
  color: #fff;
}

.about p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.about-info {
  margin: 40px 0 40px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}

.about h1 {
  letter-spacing: 0.1em;
  font-size: 30px;
  text-transform: uppercase;
}

.about-text-large {
  padding-top: 50px;
}

.about-paragraph {
  padding-top: 15px;
  font-size: 16px;
}

.content-hr {
  width: 50%;
  background-color: #fff;
  height: 0.4px;
  opacity: 0.4;
  border-color : transparent;
}

.content-hr-lg {
  width: 75%;
  background-color: #222;
  height: 1px;
  border-color : transparent;
}

.content-icon {
  border: 0.5px solid #414f69;
  border-radius: 50%;
}

.order-button:hover {
  background-color: #44536D;
  opacity: 0.95;
}

.div-order-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.div-order-button a:hover {
  text-decoration: none;
  background: #fff;
  color: #222;
}

.order-info {
  margin-top: 50px;
}

.about-product {
  padding: 40px 0 60px;
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.about-product h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}


/* Užsakymas */

.order {
  background: linear-gradient(#363a4d, #4c7c96);
  min-height: 100vh;
  height: 100%;
  padding: 100px 0 40px;
  text-align: center;
  color: #fff;
}

.order h2 {
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .vr-divider {
    border-right: solid 1px #fff;
    height: 90%;
  }
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-order-button button {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 11px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.order-button:hover {
  background-color: #44536D;
  opacity: 0.95;
  color: #fff;
}


/* Navbaras */

.nav-info-text {
  text-align: center;
}

.navbar.navbar-inverse {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-links {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#login-dp{
  padding: 0px 14px 0;
  overflow:hidden;
  background-color: #222;
  color: #fff;
  text-align: center;
}

#login-dp .social-buttons{
  margin:12px 0;
}

#login-dp .social-buttons a{
  width: 100%;
}

.btn-fb{
  color: #fff;
  width: 100%;
  background-color:#3b5998;
  transition: all 300ms ease-in-out;
}

.btn-fb:hover{
  color: #fff;
  background-color:#496ebc;
  transition: all 300ms ease-in-out;
}

.btn-fb:focus{
  color: #fff;
  background-color:#3b5998;
  transition: all 300ms ease-in-out;
}

.dropdown-link {
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  text-decoration: none;
  margin: 10px 0;
  display: block;
}

.dropdown-link:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

@media(max-width:768px){
  #login-dp{
    background-color: #222;
    color: #fff;
  }
}

.navbar a {
  transition: all 300ms ease-in-out;
}

.navbar a:hover {
  transition: all 300ms ease-in-out;
}

.profile-userpic img {
  float: none;
  margin: 0 auto 15px;
  border-radius: 50%;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding-top: 20px;
  }
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .navbar.navbar-inverse {
    background: rgba(34,34,34,0.8);
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    opacity: 0.8;
    -webkit-box-shadow: inset 2px 0px 0px 0px #fff;
    -moz-box-shadow: inset 2px 0px 0px 0px #fff;
    box-shadow: inset 0px 2px 0px 0px #fff;
  }
}

@media (min-width: 768px) {
  .navbar-brand:hover {
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: inset 2px 0px 0px 0px #fff;
    -moz-box-shadow: inset 2px 0px 0px 0px #fff;
    box-shadow: inset 0px 2px 0px 0px #fff;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav>li>a:hover {
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: inset 2px 0px 0px 0px #fff;
    -moz-box-shadow: inset 2px 0px 0px 0px #fff;
    box-shadow: inset 0px 2px 0px 0px #fff;
  }
}


/* Vartotojo užsakymai */

.user-orders {
  background: linear-gradient(#363a4d, #4c7c96);
  min-height: 100vh;
  height: 100%;
  padding: 80px 0 40px;
}

.user-orders h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #fff;
}

/* Katalogas */

.thumbnails li> .fff .caption {
  background:#222;
  padding:10px;
  text-align: center;
}

ul.thumbnails {
  margin-bottom: 0px;
}

.caption h4 {
  color: #fff;
}

.caption p {
  color: #fff;
}

.control-box {
  width: 100%;
}

.control-box a, a:focus {
  color: #fff;
}

.control-box a:hover {
  color: #222;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.pager li>a, .pager li>a:focus {
  background-color: #222;
  border-radius: 0px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.pager li>a:hover {
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #222;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.carousel-inner {
  margin-left: -20px;
}

@media (max-width: 767px) {
  .page-header, .control-box {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .caption {
    word-break: break-all;
  }
}

li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

.img-centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100%;
}

.catalog {
  padding-top: 40px;
  padding-bottom: 50px;
}

.catalog h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.btn-supplement-info {
  border: 0.5px solid #fff;
  padding: 8px 15px;
  color: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  text-transform: uppercase;
  font-size: smaller;
}

.btn-supplement-info:hover {
  background-color: #44536D;
  color: #fff;
  text-decoration: none;
}

.supplement-info-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footeris */

.footer {
  background: linear-gradient(#4c7c96, #363a4d);
  height: auto;
  position: relative;
  width: 100%;
  text-align: center;
}

.footer-content {
  padding-bottom: 15px;
}

.footer h3 {
  color: #fff;
  font-size: 30px;
  line-height: 27px;
  padding: 30px 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.footer ul {
  font-size: 15px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  color: #F5F5F5;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #F5F5F5;
  font-size: 16px;
  text-decoration: none;
}

.footer .footer-copyright{
  background-color: #222;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.footer .footer-copyright p{
  margin:10px;
  color: #fff;
}

/* Registracija */

.registracija {
  background: linear-gradient(#363a4d, #4c7c96);
  min-height: 100vh;
  height: 100%;
  padding: 80px 0 40px;
  text-align: center;
  color: #fff;
}

.registracija h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.login h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.login {
  background: linear-gradient(#363a4d, #4c7c96);
  min-height: 100vh;
  height: 100%;
  padding: 80px 0 40px;
  text-align: center;
  color: #fff;
}

.login-panel {
  background: rgba(34,34,34,0.5);
  padding: 15px;
  border-radius: 5px;
}

.login-text {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-button, .register-button {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 11px 20px;
  border: 0.5px solid #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 0px;
}

.login-button:hover, .register-button:hover {
  color: #222;
  background: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.login-button:focus, .register-button:focus {
  color: #fff;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 0.5px solid #fff;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
  height: 110%;
  opacity: 0.4;
}



