{% extends "::base.html.twig" %}

{% block title %}Apie - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
{% endblock %}

{% block body %}
    <div class="about" id="about">
        <div class="container-fluid">
            <div class="col-md-12">
                <hr class="content-hr-lg wow fadeInUp"/>
                <h2 class="wow fadeInUp">Apie mus</h2>
                <hr class="content-hr-lg wow fadeInUp"/>
                <div class="about-info">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x wow fadeInUp">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-heart fa-stack-1x"></i>
                        </span>
                        <h1 class="wow fadeInUp">Kokybė</h1>
                        <hr class="content-hr wow fadeInUp"/>
                        <p class="wow fadeInUp">Šiame maisto papilde naudojamos tik aukščiausios rūšies medžiagos, nežalingos  Jūsų sveikatai.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x wow fadeInUp" data-wow-delay="0.5s">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-truck fa-stack-1x"></i>
                        </span>
                        <h1 class="wow fadeInUp" data-wow-delay="0.5s">Greitas pristatymas</h1>
                        <hr class="content-hr wow fadeInUp" data-wow-delay="0.5s"/>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">Greitas pristatymas Jums patogiu būdu.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x wow fadeInUp" data-wow-delay="1s">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-eur fa-stack-1x"></i>
                        </span>
                        <h1 class="wow fadeInUp" data-wow-delay="1s">Kaina</h1>
                        <hr class="content-hr wow fadeInUp" data-wow-delay="1s"/>
                        <p class="wow fadeInUp" data-wow-delay="1s">Puikus kainos ir kokybės santykis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="order-info">
                    <div class="div-order-button col-md-12 col-xs-12 wow fadeInUp" data-wow-delay="1.2s" >
                        <a class="order-button" href="{{ path('about') }}">Užsakyti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}